<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>This is App2 Sthird HTML file</h1>
        <h2>We r using Specific urls to render this file</h2>
        
        <a href="{% url 'first' %}">First Html page</a>
        <br>
        <a href="{% url 'second' %}">Second html</a>

    
    </center>
</body>
</html>